/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
#progress {
  background-image: url("../images/race_running.jpg");
}

main#two-columns {
  margin: 50px 0;
  display: flex;
}

main#two-columns section {
  max-width: 50vw;
}

section#accelerate button {
  height: 300px;
  width: 300px;
  margin: 30px auto;
  border-radius: 180%;
  background-color: var(--green-color);
  border-color: var(--border-color);
  border-width: 0.5em;
  cursor: pointer;
  color:#fff;
  font-size:large;
}

#big-numbers {
  font-weight: bolder;
  font-size: 70px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {
}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
