

/* RESULTS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
#results {
  background-image: url("../images/results.jpg");
}
h1{background-color: beige; border-radius: 10px;padding:20px;}
.title-leaderboard {
  color: var(--color-green); margin:40px auto;
}
button.back_home {font-size:1.8em; text-decoration: none; background-color:var(--green-color); color:#fff;padding:20px; 
  text-align: center;
  margin: 40px auto;}
  a {size:1.5em; text-decoration: 
    none; color:#fff;  text-align:center;}

    gas-peddle {size:1.5em;color:#fff;  text-align:center;}
/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
