html {
	box-sizing: border-box;
  }
body {margin:0px; min-height:100vh; 
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;

}
header {
	width: 100vw;}
/*BEATING HEART START*/
section.beating-heart {
	height: 20vh; 
	font-family: 'Lato', sans-serif;
	background: rgba(39, 52, 97, 0.89);
	text-align: center;
	padding: 50px 10px;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-ms-flex-item-align: center;
		align-self: center;
  }
  
  section.beating-heart span {
	font-size: 4em;
	}
	.heart {
		position: relative;
		fill: red;
		width: 110px;
		margin: 0 50px;
		-webkit-animation: pulse 1s 2;
		-webkit-animation-delay: 0s;
				animation: pulse 1s 2;
			animation-delay: 0s;
			}
	   .heart_robot {position: fixed;
		justify-content: flex-start;
		fill: #5f93e8;
		width: 50px;
		margin-left: -160px;
		margin-top: 40px;
		 z-index:2;
		 -webkit-animation: changeColor 1s 2;
		 -webkit-animation-delay: 0s;
			 animation: changeColor 1s 2;
			 animation-delay: 0s;}
/*BEATING HEART ENDS*/			 	
content { 
	     height: 70%;
	     display:grid;
	     
		 grid-template-columns: 1fr 1fr 0.2fr 1fr;
		 grid-auto-flow: column;
		justify-content: center;
		align-content: center;
		height:70%;
		padding-top:50px;	
			
	    }
 
   #about1 {
	height: 50vh;
	font-size: 3em;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: bold;
	text-justify:right;
}	
   
p.first{opacity:0;}
p.middle{opacity:0;}
p.last {opacity:0;};

/*ROBOT STARTS*/

.robots {
	flex-wrap: wrap;
	display: flex;	
	justify-items: center;
	align-items: center;
	padding-top:30px;

}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
	animation: 3s sight 6s 1;
}
@keyframes sight {
0% {width: 200px;}
50% {width: 300px;}
100%{width: 200px;}
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}
.eyes {
	display: flex
}

.upper_body { 
	margin: 0 auto;
	width: 300px; 
	height: 150px;
	display: flex; 
	justify-content: center;
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
	
} 

.left_arm { 
	margin-right: 10px; 
	animation: 1.5s dance_larm 9s 3;
} 
@keyframes dance_larm {
50%{	-webkit-transform: rotate(120deg);
	transform:rotate(120deg);	}
}
.left_arm:hover {
	
	-webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.right_arm { 
	margin-left: 10px; 
	animation: 1.5s dance_rarm 9s 3;
}
@keyframes dance_rarm {
	50%{	-webkit-transform: rotate(-120deg);
		transform:rotate(-120deg);	}
	}
.right_arm:hover {
	-webkit-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    -o-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    transform: rotate(-120deg);
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	margin: 0 auto;

} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
	animation: 1.5s dance_lleg 9s 3;
} 
@keyframes dance_lleg {
	50%{	-webkit-transform: rotate(20deg);
		transform:rotate(20deg);	}
	}
.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-top: -120px;
	margin-left: 110px; 
	animation: 1.5s dance_rleg 9s 3;
}
@keyframes dance_rleg {
	50%{	-webkit-transform: rotate(-20deg);
		transform:rotate(-20deg);	}
	}

.right_leg:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}

/*ROBOT ENDS*/

 /* FOOTER START */
footer {
	min-height:10vh;
	min-width:100vw;
	background: rgba(39, 52, 97, 0.89);
	text-align: center;

  }
  
  footer h1 {
	position: fixed;
	font-size: 20px;
	line-height: 25px;
	color: white;
	font-weight: bold;
	text-align: center;
	left: 50%;
	-webkit-transform: translate(-50%);
			transform: translate(-50%);
  }
  
  /* FOOTER END */		 
	
	  @-webkit-keyframes pulse {
		0% {
			-webkit-transform: scale(1);
					transform: scale(1);
		}
  
		15% {
			-webkit-transform: scale(1.25);
					transform: scale(1.25);
		}
  
		25% {
		  -webkit-transform: scale(1.15);
				  transform: scale(1.15);
		}
  
		35% {
			-webkit-transform: scale(1.25);
					transform: scale(1.25);
		}
  
		100% {
			-webkit-transform: scale(1);
					transform: scale(1);
		}
  }
  
  @keyframes pulse {
		0% {
			-webkit-transform: scale(1);
					transform: scale(1);
		}
  
		15% {
			-webkit-transform: scale(1.25);
					transform: scale(1.25);
		}
  
		25% {
		  -webkit-transform: scale(1.15);
				  transform: scale(1.15);
		}
  
		35% {
			-webkit-transform: scale(1.25);
					transform: scale(1.25);
		}
  
		100% {
			-webkit-transform: scale(1);
					transform: scale(1);
		}
  }
  
  /* BEATING HEART ANIMATION END */
  /*CHANGING COLOR*/
  @keyframes changeColor {
	100% {fill: #5f93e8;
		  }
		  80% {fill: #5f93e8;}
	50% {fill: red;}
	20% {fill: red;}
		0% {fill: #5f93e8;}
  }
  /*CHANGING COLOR*/


@keyframes opacity_off {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity_on {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
