body {margin:0px; height:100vh; 
	font-family: 'font-family: 'Ovo', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	box-sizing: border-box;
}
header {height: 15%; 
	width: 100%;}
/*BEATING HEART START*/
section.beating-heart {
	background: rgba(39, 52, 97, 0.89);
	text-align: center;
    min-width:100vh;
	padding: 50px 10px;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-ms-flex-item-align: center;
		align-self: center;
  }
  
  section.beating-heart span {
	font-size: 90px;
	line-height: 100px;
  }
content {display:grid;
	     gap:100px;
		 grid-auto-flow: column;
		justify-content: center;
		align-content: center;
		height:70%;
	    padding:50px;}
 
   #first {
	font-size: 42px;
	font-family:Helvetica, sans-serif;
	font-weight: bold;
	padding:20px;
	
	animation: 1.5s linear 2s 1 slideInFromLeft;
	animation-fill-mode: both;	
	-webkit-animation: 1s linear 2s 1 slideInFromLeft;  
	-webkit-animation-fill-mode: both;	
	padding: 30px;
	
	float:left;
	opacity:0;
   }	
   .middle{animation: 1.5s linear 4s 1 slideInFromLeft;
	animation-fill-mode: both;	
	   -webkit-animation: 1s linear 4s 1 slideInFromLeft;  
	-webkit-animation-fill-mode: both;}	
   .last {
	   color:red;
	animation: 1.5s linear 12s 1 slideInFromLeft;  
	animation-fill-mode: both;	
	-webkit-animation: 1.5s linear 12s 1 slideInFromLeft;  
	-webkit-animation-fill-mode: both;	
	
   }	
   #second {font-size: 42px;
	font-family:Helvetica, sans-serif;
	font-weight: bold;
	padding:20px 0px 0px 0px;
	}
.robots {
	flex-wrap: wrap;
	display: flex;	
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
	animation: 2s sight 6s 1;
}
@keyframes sight {
0% {width: 200px;}
50% {width: 300px;}
100%{width: 200px;}
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}
.eyes {
	display: flex
}

.upper_body { 
	margin: 0 auto;
	width: 300px; 
	height: 150px;
	display: flex; 
	justify-content: center;
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
	
} 

.left_arm { 
	margin-right: 10px; 
	animation: 1.5s dance_larm 8s 3;
} 
@keyframes dance_larm {
50%{	-webkit-transform: rotate(40deg);
	transform:rotate(40deg);	}
}
.left_arm:hover {
	
	-webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    -o-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    transform: rotate(-140deg);
}

.right_arm { 
	margin-left: 10px; 
	animation: 1.5s dance_rarm 8s 3;
}
@keyframes dance_rarm {
	50%{	-webkit-transform: rotate(-40deg);
		transform:rotate(-40deg);	}
	}
.right_arm:hover {
	-webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	margin: 0 auto;

} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
	animation: 1.5s dance_lleg 8s 3;
} 
@keyframes dance_lleg {
	50%{	-webkit-transform: rotate(20deg);
		transform:rotate(20deg);	}
	}
.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-top: -120px;
	margin-left: 110px; 
	animation: 1.5s dance_rleg 8s 3;
}
@keyframes dance_rleg {
	50%{	-webkit-transform: rotate(-20deg);
		transform:rotate(-20deg);	}
	}

.right_leg:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}

  
  .heart {
	position: relative;
	fill: red;
	width: 120px;
	margin: 0 50px;
	-webkit-animation: pulse 1s 2;
	-webkit-animation-delay: 0s;
			animation: pulse 1s 2;
        animation-delay: 0s;
		}
   .heart_robot {position: fixed;
	justify-content: flex-start;
	fill: #5f93e8;
	width: 50px;
	margin-left: -160px;
	margin-top: 40px;
	 z-index:2;
	 -webkit-animation: changeColor 1s 2;
	 -webkit-animation-delay: 0s;
		 animation: changeColor 1s 2;
		 animation-delay: 0s;}
 /* FOOTER START */
 footer {
    height:10%;
	position: relative;
	z-index: -2;
	height: 10vh;
	background: rgba(39, 52, 97, 0.89);
	color: white;
	text-align: center;
  }
  
  footer h1 {
	position: fixed;
	font-size: 20px;
	line-height: 25px;
	color: white;
	font-weight: bold;
	text-align: center;
	z-index: 1;
	left: 50%;
	/*-webkit-transform: translate(-50%);
			transform: translate(-50%);
	bottom: 50px;
	width: 800px;*/
  }
  
  /* FOOTER END */		 
	
	  @-webkit-keyframes pulse {
		0% {
			-webkit-transform: scale(1);
					transform: scale(1);
		}
  
		15% {
			-webkit-transform: scale(1.25);
					transform: scale(1.25);
		}
  
		25% {
		  -webkit-transform: scale(1.15);
				  transform: scale(1.15);
		}
  
		35% {
			-webkit-transform: scale(1.25);
					transform: scale(1.25);
		}
  
		100% {
			-webkit-transform: scale(1);
					transform: scale(1);
		}
  }
  
  @keyframes pulse {
		0% {
			-webkit-transform: scale(1);
					transform: scale(1);
		}
  
		15% {
			-webkit-transform: scale(1.25);
					transform: scale(1.25);
		}
  
		25% {
		  -webkit-transform: scale(1.15);
				  transform: scale(1.15);
		}
  
		35% {
			-webkit-transform: scale(1.25);
					transform: scale(1.25);
		}
  
		100% {
			-webkit-transform: scale(1);
					transform: scale(1);
		}
  }
  
  /* BEATING HEART ANIMATION END */
  /*CHANGING COLOR*/
  @keyframes changeColor {
	100% {fill: #5f93e8;
		  }
		  80% {fill: #5f93e8;}
	50% {fill: red;}
	20% {fill: red;}
		0% {fill: #5f93e8;}
  }
  /*CHANGING COLOR*/


 
  /*SLIDER FROM LEFT START*/
  @keyframes slideInFromLeft {
    0% {opacity:0;
        transform: translateX(-200%);
    }
    100% {
		opacity:1;
        transform: translateX(0);
	}

}
/*SLIDER FROM LEFT END*/

@keyframes speaking {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-25px);
    }
}


@keyframes opacity_off {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

