html {
  box-sizing: border-box;
}

body {
  background-image: url('../../images/bg_2.jpg');
  background-size: cover;
  /*background-color:#9ccc9c;*/
  margin-top: 0px;
  margin-left:0px;
  min-height: 100vh;
  max-height:800px;
  max-width: 1800px;
  font-size: 18px;
  text-align: justify;
  font-family: Helvetica, sans-serif;
  
}
h1{color:red;
}

/*SIDE PANEL*/
.sidepanel  {
  
  width: 0;
  position: fixed;
  z-index: 1;
  height: 350px;
  margin-top: 0;
  margin-left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 34px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 28px;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}

/*SIDE PANEL END*/
/* SLIDER START */
.slider-div h2 {
   position: relative;
  left: 600px;
   
  font-size: 60px;
  margin:auto;
  size: 100px;
  color:red;
}

.slider {
   margin-top: 50px;
   margin-left: 200px;
  position: center;
  text-align: center;
  padding: 0px;
  color: black;
  max-width: 1600px;
   max-height:800px;

}

.slide {
  	
  padding: 0px;
}
.slide img
border-radius: 25px;
}
.slick-prev,
.slick-next {
  background: #9ccc9c;
  opacity: 0.8;
  color:black;
  font-weight:bolder;
  width: 40px;
  height: 40px;
  z-index: 1;
  
}

.slick-prev {
  left: -5%; 	


}

.slick-next {
  right: 1%;
}

.slick-prev:hover,
.slick-next:hover {
  background: white;
}

/* SLIDER END */

